// colors:
  // dark Theme
    $q-dark: #353333;
    $dark-font: #bebebe;
    $bg-dark: #202123;
    $a-dark: #202123;
    $e-dark: #464343;
  
$ff: ui-sans-serif, system-ui, sans-serif, Helvetica, Arial;